@import 'tailwindcss';

@theme {
  --font-novaFlat: "Nova Flat", system-ui;
  --font-phenomonaLight: "PhenomenaLight", system-ui, sans-serif;
  --font-phenomonaRegular: "PhenomenaRegular", system-ui, sans-serif;
}

@font-face {
  font-family: "PhenomenaLight";
  src: url("../src/assets/fonts/Phenomena-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PhenomenaRegular";
  src: url("../src/assets/fonts/Phenomena-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
